div{
    width: 490px;
    height: 280px;
    border: 2px solid black;
    background-image:linear-gradient(red,blue) ,url("Screenshot_20190522-182657.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /*background-blend-mode: screen;
    background-blend-mode: darken;
    background-blend-mode: hard-light;
    background-blend-mode: soft-light;
    background-blend-mode: multiply;
    background-blend-mode: color-burn;
    background-blend-mode: color-dodge;
    background-blend-mode: difference;
    background-blend-mode: exclusion;
    background-blend-mode: hue;
    background-blend-mode: color;
    background-blend-mode: saturation;
    background-blend-mode: luminosity;
    background-blend-mode: normal;
  */
}