/*h1{
    color: green;
}
p{
    color: rgb(230, 4, 4);
}
h3{
    color: rebeccapurple;
}*/
/*selectors in css*/
h1,
h3,
p,
.box {
    color: blue;
}

/* you can using h1 h3 also id and class in one selector*/